@font-face {
    font-family: 'frutigeraArabic';
    font-weight:400;src:url("FrutigerLTArabic-55Roman.eot?") format("eot"),url("FrutigerLTArabic-55Roman.woff2") format("woff2"),url("FrutigerLTArabic-55Roman.woff") format("woff"),url("FrutigerLTArabic-55Roman.ttf") format("truetype"),url("FrutigerLTArabic-55Roman.svg#frutigeraArabic") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



